<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: center;
        font-size: 24px;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
        font-size: 24px;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
<div>
    <h1>Search Analytics</h1>

    <table>
            <tr>
                <th>Search Term</th>
                <th>Search Frequency</th>
            </tr>
        <% @records_trending_trems.each do |hash| %>
            <tr>
                <td><%= hash[:term] %></td>
                <td>
                    <%= hash[:count] %>
                    <% if hash[:count].to_i > 1 %>
                        times
                    <% else %>
                        time
                    <% end %>
                </td>
            </tr>
        <%end%>
    </table>
</div>
